:root{
    --primary-color: #192F4A; /* main navigation bars, footers, buttons (the call-to-action color), and important accent elements. */
    --secondary-color: #B69C6D; /* button hover states, small decorative icons, link accents, or highlighting special deals */
    --background-color: #d8c6a4;
    --title-color: #294E78; /* all headings */
    --text-color: #333333; /* all body text, descriptions, and smaller text elements */
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.header__container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: var(--primary-color);
    color: var(--secondary-color);
    padding: 18px 42px;
}

.header__itens {
    display: flex;
    flex-direction: row;
    justify-content: space-between; 
    gap: 16px;
}

.main__container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: var(--background-color);
    gap: 24px;
}

h1{
    color: var(--primary-color);
    padding-top: 24px;
}

.main__search {
    border: 3px solid var(--secondary-color);
    border-radius: 4px;
    width: 360px;
    height: 36px;
}

::placeholder {
    color: var(--secondary-color)
}

.main__submit{
    background-color: var(--primary-color);
    color: var(--secondary-color);
    border-radius: 4px;
    width: 56px;
    height: 36px;
}

.books__container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 16px;
}

.book__item {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    border: 3px solid var(--secondary-color);
    border-radius: 4px;
}

.footer__container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: var(--primary-color);
    color: var(--secondary-color);
    padding: 18px 42px;
}

.footer__item {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: #FFFFFF;
    gap: 16px;
}